* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%; /*1 rem vaut 10px*/
}

body {
  font-size: 1.4rem; /*soit 10px*/
  font-family: Arial;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #2c3c54;
}

.switch {
  width: 90px;
  height: 30px;
  background-color: #1e2939;
  border-radius: 15px;
  position: relative; /*permet de posiotionner l'icone en absolute*/
  border: 1px solid #1e2939;
  padding: 1rem;
}
.btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute; /*par rapport a la div switch*/
  top: -1px; /*évite un décalage de 1px*/
  left: -1px; /*évite un décalage de 1px*/
}

.switch i {
  position: absolute; /*par rapport a la div switch*/
  color: #ffd363;
  top: 6px;
  right: 23px;
}
